<div class="container-fluid bg-dark" style="height:100vh">
<div class="d-grid  gap-2"></div>
<button class="btn btn-info">Agregar Usuario</button>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">id</th>
      <th scope="col">nombre</th>
      <th scope="col">Apllido</th>
      <th scope="col">usuario</th>
      <th scope="col">password</th>
      <th scope="col">mail</th>
    </tr>
  </thead>

  {{#each usuarios}}
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>{{id}}</td>
      <td>{{name}}</td>
      <td>{{Apellido}}</td>
      <td>{{username}}</td>
      <td>{{pass}}</td>
      <td>{{mail}}</td>
      <td><a href="/usuarios/single/{{id}}" class="btm btn-primary "></a>Ver Mas</td>
  </tr>
  </tbody>
  {{/each}}
</table>

</div>